---
import DataTableItem from "@components/DataTableItem.astro";
import DataTableTitle from "@components/DataTableTitle.astro";
import { getAllGames } from "@data/games";
import AppLayout from "@layouts/AppLayout.astro";
import DataTable from "@layouts/DataTable.astro";
import { Icon } from "astro-icon/components";

const games = await getAllGames();
---

<AppLayout title="Cardio | Games">
  <DataTable
    title="All games"
    cta="Create game"
    ctaLink="/games/create"
    description="You can create and edit all your games here."
  >
    <div slot="thead">
      <DataTableTitle>Game name</DataTableTitle>
      <DataTableTitle class="text-right">Actions</DataTableTitle>
    </div>
    <div slot="tbody">
      {
        games.map((game) => (
          <tr>
            <DataTableItem>{game.name}</DataTableItem>
            <DataTableItem>
              <div class="flex justify-end gap-4">
                <a
                  href={`/games/${game.id}/edit`}
                  class="flex cursor-pointer items-center gap-1 hover:underline"
                >
                  <Icon name="pencil" class="h-3 w-3" />
                  Edit
                </a>
                <a
                  href={`/games/${game.id}/delete`}
                  class="flex cursor-pointer items-center gap-1 text-red-500 hover:underline dark:text-red-400"
                >
                  <Icon name="trash" class="h-3 w-3" />
                  Delete
                </a>
              </div>
            </DataTableItem>
          </tr>
        ))
      }
    </div>
  </DataTable>
</AppLayout>
