---
import Alert from "@components/Alert.astro";
import AppLayout from "@layouts/AppLayout.astro";
---

<AppLayout title="Cardio | All games">
  <div class="mt-10">
    <Alert type="info">
      <p>This page is not implemented yet.</p>
    </Alert>
  </div>
</AppLayout>
