---
import Alert from "@components/Alert.astro";
import AppLayout from "@layouts/AppLayout.astro";
---

<AppLayout title="Cardio | All games">
  <div class="mt-10">
    <Alert type="info">
      <p>This is an information alert.</p>
    </Alert>
  </div>
  <div class="mt-10">
    <Alert type="error">
      <p>This is an error alert.</p>
    </Alert>
  </div>
</AppLayout>
