---
import { getRunningGamesData } from "@data/games";
import AppLayout from "@layouts/AppLayout.astro";

const games = await getRunningGamesData();
---

<AppLayout title="Cardio">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Players</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {
        games.map((game) => (
          <tr>
            <td>{game.name}</td>
            <td>{game.status}</td>
            <td>{game.players.length}</td>
            <td>
              <a href={`/games/${game.id}`}>Details</a>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</AppLayout>
