---
import Alert from "@components/Alert.astro";
import AppLayout from "@layouts/AppLayout.astro";
---

<AppLayout title="Cardio">
  <div class="mt-10">
    <Alert type="info">
      <p>
        This page is not done yet, but you can add your games and players
        already.
      </p>
    </Alert>
  </div>
</AppLayout>
