---
import FormButton from "@components/FormButton.astro";
import AppLayout from "@layouts/AppLayout.astro";
import FormLayout from "@layouts/FormLayout.astro";

const { id } = Astro.params;
if (!id || isNaN(+id)) {
  return new Response("Not found", { status: 404 });
}
---

<AppLayout title="Cardio | Delete game">
  <FormLayout title="Are you sure?">
    <p>Are you sure you want to delete this game?</p>
    <form>
      <input type="hidden" name="id" value={id} />
      <FormButton>Delete game</FormButton>
    </form>
  </FormLayout>
</AppLayout>

<script>
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";

  const form = document.querySelector("form");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();

    const formData = new FormData(form);
    const { error, data } = await actions.games.deleteGame(formData);
    console.log(error, data);

    if (!error) navigate("/games");
  });
</script>
