---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
}
---

<a
  href={Astro.props.href}
  class="flex cursor-pointer items-center gap-1 hover:underline"
>
  <Icon name="pencil" class="h-3 w-3" />
  Edit
</a>
