---
interface Props {
  destructive?: boolean;
}
---

<button
  class:list={[
    "rounded-md border-2 px-3 py-2 text-center text-sm font-semibold",
    Astro.props.destructive
      ? "border-red-500 text-red-500 hover:bg-red-50 dark:text-white dark:hover:bg-red-950"
      : "border-lime-500 hover:bg-lime-50 dark:border-lime-700 dark:text-white dark:hover:bg-lime-950",
  ]}
>
  <slot />
</button>
