---
interface Props {
  active: boolean;
  number: number;
}
---

<span
  class:list={[
    "flex w-full items-center gap-3 rounded px-2 py-2 font-semibold tracking-tight",
    Astro.props.active ? "border-2 border-lime-200 dark:border-lime-900" : "",
  ]}
>
  <span
    class="flex h-4 w-4 items-center justify-center rounded-full bg-lime-50 text-sm lg:h-6 lg:w-6 dark:bg-lime-800"
    >{Astro.props.number}</span
  >
  <slot />
</span>
