---
import DataTableItem from "@components/DataTableItem.astro";
import DataTableTitle from "@components/DataTableTitle.astro";
import { getAllPlayers } from "@data/players";
import AppLayout from "@layouts/AppLayout.astro";
import DataTable from "@layouts/DataTable.astro";
import { Icon } from "astro-icon/components";

const players = await getAllPlayers();
---

<AppLayout title="Cardio | Players">
  <DataTable
    title="All players"
    cta="Create player"
    ctaLink="/players/create"
    description="You can create and edit all your saved players here."
  >
    <div slot="thead">
      <DataTableTitle>Player name</DataTableTitle>
      <DataTableTitle class="text-right">Actions</DataTableTitle>
    </div>
    <div slot="tbody">
      {
        players.map((player) => (
          <tr>
            <DataTableItem>{player.name}</DataTableItem>
            <DataTableItem>
              <div class="flex justify-end gap-4">
                <a
                  href={`/players/${player.id}/edit`}
                  class="flex cursor-pointer items-center gap-1 hover:underline"
                >
                  <Icon name="pencil" class="h-3 w-3" />
                  Edit
                </a>
                <a
                  href={`/players/${player.id}/delete`}
                  class="flex cursor-pointer items-center gap-1 text-red-500 hover:underline dark:text-red-400"
                >
                  <Icon name="trash" class="h-3 w-3" />
                  Delete
                </a>
              </div>
            </DataTableItem>
          </tr>
        ))
      }
    </div>
  </DataTable>
</AppLayout>
