---
import Alert from "@components/Alert.astro";
import AppLayout from "@layouts/AppLayout.astro";
import FormLayout from "@layouts/FormLayout.astro";

const { id } = Astro.params;
if (!id || isNaN(+id)) {
  return new Response("Not found", { status: 404 });
}
---

<AppLayout title="Cardio | Create player">
  <FormLayout title="Create player">
    <Alert type="info">
      <p>This is not done yet</p>
    </Alert>
  </FormLayout>
</AppLayout>

<script>
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";

  document.addEventListener("astro:page-load", () => {
    const form = document.querySelector("form");
    form?.addEventListener("submit", async (event) => {
      event.preventDefault();

      const formData = new FormData(form);
      const { error } = await actions.gameSessions.editGameSession(formData);
      if (!error) navigate("/");
    });
  });
</script>
