---
import FooterLink from "@components/FooterLink.astro";
---

<nav
  class="mb-4 flex h-10 w-full items-center justify-between px-6 sm:mt-0 md:h-20"
>
  <FooterLink href="/onboarding">Replay onboarding</FooterLink>
  <div class="flex items-center gap-4">
    <FooterLink href="https://flavienbonvin.com">
      Made by Flavien Bonvin
    </FooterLink>
  </div>
</nav>
