---
interface Props {
  title: string;
}
---

<section
  class="mx-auto flex max-w-xl flex-col gap-5 rounded-md border-2 p-6 dark:border-stone-800"
>
  <h1 class="text-xl font-semibold leading-6 sm:text-2xl">
    {Astro.props.title}
  </h1>
  <slot />
</section>
