<nav class="flex h-16 w-full items-center justify-between px-4 py-2">
  <a href="/" class="text-lg">Cardio</a>
  <div class="flex items-center gap-4">
    <a href="/games" class="text-lg">Game collection</a>
    <a href="/players" class="text-lg">Players</a>
  </div>
</nav>
