---
import FormButton from "@components/FormButton.astro";
import Input from "@components/Input.astro";
import { getPlayer } from "@data/players";
import AppLayout from "@layouts/AppLayout.astro";
import FormLayout from "@layouts/FormLayout.astro";

const { id } = Astro.params;
if (!id || isNaN(+id)) {
  return new Response("Not found", { status: 404 });
}

const player = await getPlayer(+id);
if (!player) {
  return new Response("Not found", { status: 404 });
}
---

<AppLayout title="Cardio | Create player">
  <FormLayout title="Create player">
    <form class="flex flex-col gap-10">
      <fieldset class="flex flex-col gap-2">
        <input type="hidden" name="id" value={id} />
        <label for="name">Name</label>
        <Input
          id="name"
          name="name"
          placeholder="Uno"
          required
          value={player?.name ?? "Uno"}
        />
      </fieldset>
      <FormButton>Update player</FormButton>
    </form>
  </FormLayout>
</AppLayout>

<script>
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";

  document.addEventListener("astro:page-load", () => {
    const form = document.querySelector("form");
    form?.addEventListener("submit", async (event) => {
      event.preventDefault();

      const formData = new FormData(form);
      const { error } = await actions.players.editPlayer(formData);
      if (!error) navigate("/players");
    });
  });
</script>
